// Place your settings in this file to overwrite the default settings
{
  "editor.fontSize": 13,
  "editor.fontFamily": "Fira Code",
  "editor.fontLigatures": true,
  "editor.formatOnSave": true,
  "editor.tabSize": 2,
  "editor.autoIndent": true,
  "editor.minimap.enabled": false,
  "editor.rulers": [100],
  "editor.codeActionsOnSave": {
    "source.fixAll": true
  }

  "search.exclude": {
    "**/node_modules": true,
    "**/bower_components": true,
    "**/dist": true
  },

  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "files.autoSave": "onFocusChange",

  "workbench.iconTheme": "vscode-icons",
  "workbench.statusBar.feedback.visible": false,

  "terminal.integrated.fontFamily": "'Meslo LG M for Powerline'",
  "terminal.integrated.shell.osx": "/bin/zsh",

  "gitlens.blame.format": "${author}, ${ago}",
  "gitlens.codeLens.enabled": false,
  "gitlens.keymap": "chorded",
  "gitlens.advanced.messages": {
    "suppressCommitHasNoPreviousCommitWarning": false,
    "suppressCommitNotFoundWarning": false,
    "suppressFileNotUnderSourceControlWarning": false,
    "suppressGitVersionWarning": false,
    "suppressLineUncommittedWarning": false,
    "suppressNoRepositoryWarning": false,
    "suppressResultsExplorerNotice": false,
    "suppressShowKeyBindingsNotice": true
  },
  "gitlens.views.fileHistory.enabled": true,
  "gitlens.views.lineHistory.enabled": true,

  "typescript.updateImportsOnFileMove.enabled": "always",
}
