// Place your settings in this file to overwrite the default settings
{
    "editor.fontSize": 13,
    "editor.fontFamily": "Fira Code",
    "editor.fontLigatures": true,
    
    "editor.tabSize": 2,
    "editor.autoIndent": true,
    "editor.minimap.enabled": false,
    "editor.rulers": [120],

    "search.exclude": {
        "**/node_modules": true,
        "**/bower_components": true,
        "**/dist": true
    },
    
    "files.insertFinalNewline": true,
    "files.autoSave": "afterDelay",

    "terminal.integrated.fontFamily": "'Meslo LG M for Powerline'",
    "terminal.integrated.shell.osx": "/bin/zsh",

    "gitlens.blame.format": "${authorAgo}",
    "gitlens.codeLens.enabled": false,
    
    "tslint.autoFixOnSave": true
}
